<button id="fly" mat-button (click)="openDialog()">Create Asset</button>
<div class="outer">
  <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
    <div
      [fxFlex]="(100/gridColumns) + '%'"
      fxFlex.xs="100%"
      fxFlex.sm="33%"
      *ngFor="let obj of assetsService.getassets$ | async"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-title-group>
          <mat-card-title>{{obj.name}} </mat-card-title>
          <mat-card-subtitle>{{obj.ip}}</mat-card-subtitle>
          <mat-icon mat-list-icon>
            cast
          </mat-icon>
        </mat-card-title-group>
        <mat-card-content>
          <p>
            {{obj.description}}
          </p>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <button mat-button [routerLink]="['/assets/asset/'+obj.id]">asset page</button>
          <div *ngIf="obj.lastScanned">
            <b>last updated</b> 
            <br>
            {{obj.lastScanned | date: 'short'}}
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>