table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

.outer {

    display: block;
    margin-left:1%;
    margin-top:1%;
}
mat-card-actions {
    display: flex;
    justify-content: space-between;
}
#fly{
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 1;
}